#numeroAlumnos{
    border-radius: 9px;
    outline: none;
    padding: 0.1em;
}
#alumnos > img{
    width: 100%;
    height: auto;
}
#alumnos{
    display: grid;
    grid-template-columns: 
    repeat(auto-fit,
    minmax(150px, 1fr)
    );
    gap: 32px;
}
nav{
    background-color: rgba(17, 35, 49, 0.979);
    z-index: 100;
}
nav ul li{
    color: white;
    font-size: 18px;
}
nav ul li a:hover{
    font-weight: bolder;
    transition: all ease-in-out 10ms;
    color: white;
}
#logo_zuviria{
    width: 4rem;
    margin: 0.2em;
}